# To detect whether a credit card trasaction is legit or fraud.

Workflow :
Credit Card Data -->> Preprocessing -->> Data Analysis -->> Train Test Split -->> Logistic Regression Model -->> Evaluation

Importing the Dependencies

In [132]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [133]:
#  loading the dataset to a Pandas DataFrame

credit_card_data = pd.read_csv(r"C:\Users\Lenovo\Downloads\creditcard.csv")

In [134]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [135]:
# Time of transaction is given in seconds. Each transction is taken w.r.t first transaction happen. V1 V2... are features 
#about each particuar transaction which are confiential. Dataset provider converted all features into some numeric values
#through pca method.
# Amount given in usd.
#class tells us whether particular transaction is legit or fraudulent transaction. 0 : legit/normal , 1 : fraudulent

In [136]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [137]:
# 172792 sec tells it is almost 2 days of transaction(48 hrs).

In [138]:
# dataset informations

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [139]:
# checking the number of missing values in each column

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [140]:
# distribution of legit transactions & fraudulent transactions

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [141]:
# it is highly imbalanced data as for normal transaction : 284315, fraudulent : 492. More than 99% of data belongs to 0 class
#WE cannot train this data to our ml model because it cant recognise the fraudulent transaction because we have very less
# data for this case. Whenever we'll give new data point it will recognize as normal transaction and that we dont want

This Dataset is highly unblanced


0 --> Normal Transaction

1 --> fraudulent transaction

In [142]:
# separating the data for analysis

legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [143]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [144]:
# statistical measures of the data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [145]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [146]:
# mean is more in frauduent than normal transaction

In [147]:
# compare the values for both transactions

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling (Method Here we'll use to deal with imbalance data)

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

We'll take a random of 492 sample data from legit data or normal transaction(284315) an then concatenate/join with fraud data (492). Once we do that we'll 492 + 492 Data (legit + fraud).It will be very good dataset with uniformm distribution. Then we can make better prediction with machine learning.

In [148]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [149]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)  #concatenating rowise

In [150]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
73274,55064.0,1.192438,-1.619634,0.523558,-1.451781,-1.605019,0.212331,-1.307795,0.161638,-1.776657,...,0.067647,0.300113,-0.128538,-0.310612,0.218627,-0.082879,0.037114,0.031281,138.00,0
54081,46278.0,-0.499403,0.030379,2.310068,0.691552,-0.529505,1.343338,-0.393565,0.549938,1.023814,...,0.042562,0.439844,-0.331090,-0.710280,0.451950,0.808670,0.019404,-0.023761,46.81,0
181258,124894.0,1.936428,-0.323067,-0.385576,0.253691,-0.615469,-0.832589,-0.301808,-0.187521,0.697631,...,-0.155334,-0.453647,0.406496,-0.002519,-0.678313,0.234601,-0.042169,-0.034507,44.99,0
88267,62066.0,-2.918828,0.375377,1.026121,-0.302221,0.257921,-0.416460,0.057723,0.472603,0.187072,...,-0.613306,-0.839837,0.589862,-0.407169,0.618792,0.171180,-0.292442,-0.475925,20.00,0
92525,63972.0,1.229923,0.363148,0.442180,0.770717,-0.525299,-1.257224,0.101492,-0.229679,-0.002030,...,-0.264181,-0.764390,0.167088,0.673756,0.174630,0.073752,-0.022469,0.034611,3.59,0

In [151]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [152]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [153]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94768.510163,0.003807,0.042337,0.026732,0.018280,0.117836,-0.019931,-0.004508,-0.058554,0.082030,...,0.011595,0.046570,-0.032757,0.020672,0.053995,0.048814,0.014170,-0.012092,-0.011731,69.712886
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [154]:
#Here mean value almost same to prv one example V1 has almost same value.It means we got good sample here.The nature of
#dataset has not changed.For bad sample mean value would have been very different.

Splitting the data into Features & Targets

In [155]:
X = new_dataset.drop(columns='Class', axis=1)  #removing class from x variable. (Features)
Y = new_dataset['Class']                       # storing class into y variable.  (Targets)

In [156]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
73274,55064.0,1.192438,-1.619634,0.523558,-1.451781,-1.605019,0.212331,-1.307795,0.161638,-1.776657,...,-0.104903,0.067647,0.300113,-0.128538,-0.310612,0.218627,-0.082879,0.037114,0.031281,138.00
54081,46278.0,-0.499403,0.030379,2.310068,0.691552,-0.529505,1.343338,-0.393565,0.549938,1.023814,...,0.051356,0.042562,0.439844,-0.331090,-0.710280,0.451950,0.808670,0.019404,-0.023761,46.81
181258,124894.0,1.936428,-0.323067,-0.385576,0.253691,-0.615469,-0.832589,-0.301808,-0.187521,0.697631,...,-0.051247,-0.155334,-0.453647,0.406496,-0.002519,-0.678313,0.234601,-0.042169,-0.034507,44.99
88267,62066.0,-2.918828,0.375377,1.026121,-0.302221,0.257921,-0.416460,0.057723,0.472603,0.187072,...,-0.879552,-0.613306,-0.839837,0.589862,-0.407169,0.618792,0.171180,-0.292442,-0.475925,20.00
92525,63972.0,1.229923,0.363148,0.442180,0.770717,-0.525299,-1.257224,0.101492,-0.229679,-0.002030,...,-0.082570,-0.264181,-0.764390,0.167088,0.673756,0.174630,0.073752,-0.022469,0.034611,3.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [157]:
print(Y)

73274     0
54081     0
181258    0
88267     0
92525     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing Data

In [158]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2) #stratify tells even distribution

In [159]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression :

In [160]:
model = LogisticRegression()

In [161]:
# training the Logistic Regression Model with Training Data

model.fit(X_train, Y_train)

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation :

Accuracy Score

In [162]:
# accuracy on training data

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [163]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9453621346886912

In [164]:
# accuracy on test data

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [165]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9441624365482234